*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth; /* Formata o comportamento da rolagem */
}
header{
	padding: 15px 0px 15px 0px; /*Alinha mento*/
	position: fixed;
	width: 100%;
}
header nav ul{
	list-style: none;
	text-align: center;
}
header nav ul li{
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #888;
	font-family: Arial;
	font-size: 1.2em;
	padding: 2px 10px;
	display: inline-block;
}
header nav ul li a:hover{
	color: #b6dbf1;
}
section{
	border: 1px solid #000;
	width: 100%;
	height: 500px;
}