body{
	font-family: Consolas, Arial;
}
*{
	box-sizing: border-box;
}
.menuContainer{
	width: 300px;
	padding: 15px 0px;
	background-color: #bbb;
}
#menu li a{
	padding: 10px;
	text-decoration: none;
	color: #000;
	display: block;
}
#menu li a:hover{
	background-color: #eee;
}
.menuContainer h2{
	padding-left: 15px;
}
#pesquisa{
	width: 100%;
	font-size: 15px;
	padding: 10px;
	border: 1px solid #ddd;
}
#menu{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.borda{
	border: 1px solid #000;
}