*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden; /*Ocultar barra de rolagem horizontal */
}
html{
	scroll-behavior: smooth; /* Formata o comportamento da rolagem */
}
header{
	padding: 15px 0px 15px 0px; /*Alinha mento*/
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
}
header nav ul{
	list-style: none;
	text-align: center;
}
header nav ul li{
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #888;
	font-family: Arial;
	font-size: 1.2em;
	padding: 2px 10px;
	display: inline-block;
}
header nav ul li a:hover{
	color: #b6dbf1;
}
section{
	/*border: 1px solid #000;*/
	width: 100%;
	height: 500px;
}
section:nth-child(even){/*odd=impar event=pan*/
	background-color: #3c4f60; 
}
section, footer{
	padding-top: 60px;
	padding-bottom: 60px;
}
.banner{
	display: flex;
}
.banner img{
	width: 100%;
}
.borda0{
	border: none;
}
.borda1{
	border: 1px solid #000;	
}
.borda2{
	border: 1px solid #f00;	
}
.flexivel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
article{
	width: 100%;
	text-align: center;
}
/* -------------- ANIMAÇÕES ------------ */
[data-anima]{
	opacity: 0;
	transition: .8s;
}
[data-anima="esquerda"]{
	transform: translate3d(-50px,0,0);/*x,y,z*/
}
[data-anima="direita"]{
	transform: translate3d(50px,0,0);/*x,y,z*/
}
[data-anima="centro"]{
	transform: translate3d(0,50px,0);/*x,y,z*/
}
[data-anima].animacao{
	opacity: 1;
	transform: translate3d(0,0,0);
}
/* ----------- PARALLAX -------------- */
.parallax {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transform: scale(1.05);
}
.p1{
	background-image: url('../img/im1.jpg');
}
.p2{
	background-image: url(../img/im3.jpg);
}